.lobby-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

.lobby-header {
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    width: 100%;
    height: fit-content;

    padding: 15px;

    background-color: var(--social-bg);
}

.lobby-header .logo {
    text-align: start;
}

.lobby-header .title {
    text-align: center;
    margin: 0;
}

.lobby-header .username {
    text-align: end;
}

.name-selector {
    display: flex;
    flex-direction: column;

    padding: 15px;
    border: solid 1px var(--border);
    border-radius: 15px;

    background-color: var(--social-bg);

    text-align: center;
    margin: auto auto;
}

.name-selector h2 {
    margin: 0;
}

.name-selector hr {
    width: 95%;
    border: 2px solid var(--border);
    border-radius: 10px;
    background-color: var(--border);
}

.username-input-group {
    display: flex;

    gap: 5px;
}

.username-input,
.username-randomizer {
    box-sizing: border-box;
    height: 2rem;
    font-size: 1rem;
    line-height: 1;
}

.username-randomizer {
    width: 2rem;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
